.contact-box {
    padding: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Arial", sans-serif;
}

.heading {
    font-size: 30px;
}

input {
    border: 3px solid black;
    border-radius: 5px;
    font-size: 20px;
}

textarea {
    border: 3px solid black;
    border-radius: 5px;
    font-size: 20px;
}

.message {
    padding: 10px;
}

button {
    background-color: #21325e;
    border: #3e497a;
    color: white;
    font-size: 20px;
    border-radius: 6px;
    padding: 8px;
}

button:hover {
    cursor: pointer;
}