.contact-box {
    padding: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Arial", sans-serif;
}

label {
    font-size: 20px;
}

input {
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
}

textarea {
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
}

.name {
    padding: 10px;
}

.email {
    padding: 10px;
}

.message {
    padding: 10px;
}

button {
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 4px;
}

button:hover {
    cursor: pointer;
}